<form method="POST" action="">
  <!-- Name <input type="text" name="name"/>
  <br>
  Email <input type="email" name="email"/>
  <br> -->
  Apartment_ID <input type="text" name="apartment_id"/>
  <br>
  Description <input type="text" name="description"/>
  <br>
  Deposit <input type="number" name="deposit"/>
  <br>
  Latitude <input type="number" step="0.01" name="latitude"/>
  <br>
  Longitude <input type="number" step="0.01" name="longitude"/>
  <br>
  Num_Guests <input type="number" name="no_guests"/>
  <br>
  Price <input type="number" name="price"/>
  <br>
  Landlord <input type="text" name="landlord"/>
  <br>
  Safety_Rating <input type="number" name="safety_rating"/>
  <br>
  <input type="submit">
</form>
