<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta charset="UTF-8">
  <title>Admin Search</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="container">
        <!-- navbar -->
        <div class="masthead clearfix">
          <div class="container inner">
            <h3 class="masthead-brand">Home</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="user_search.html">User Side</a></li>
                <li><a href="admin_search.html">Admin Side</a></li>
              </ul>
            </nav>
          </div>
        </div>
    <div class="container">
      <form method="POST" action="">
        Description <input type="text" name="description" />
        <br>
        Zipcode <input type="number" name="zipcode" />
        <br>
        <!-- Price from <input type="text" name="lowerprice" /> to <input type="text" name="upperprice" /> -->
        Num_Guests <input type="number" name="num_guests" />
        <br>
        Price <input type="number" name="price" />
        <br>
        Landlord <input type="text" name="landlord" />
        <br>
        Safety Rating <input type="number" step="0.1" name="safety_rating" />
        <br>
        <input type="submit" name="new_listing" value="new_listing">
      </form>
  </div>
    <div class="container">
      <form method="POST" action="">
        <div class="form-group">
          <label for="zipcodeInput">Zipcode</label>
          <input type="int" type="form-control" id="zipcodeInput" name="zipcode">
        </div>
        <div class="form-group">
          <label for="numGuestsInput">Number of Guests</label>
          <input type="int" type="form-control" id="numGuestsInput" name="guest">
        </div>
        <div class="form-group">
          <label for="priceInput">Price</label>
          from <input type="int" type="form-control" id="priceInput" name="lowerprice">
          to <input type="int" type="form-control" id="priceInput" name="upperprice">
        </div>
        <div class="form-group">
          <label for="safetyInput">Safety Rating</label>
          from<input type="int" type="form-control" id="safetyInput" name="safety">
        </div>
        <div class="form-group">
          <label for="landlordInput">Landlord</label>
          <input type="text" type="form-control" id="landlordInput" name="landlord">
        </div>
         <div class="form-group">
          <label for="descriptionInput">Description</label>
          <input type="text" type="form-control" id="descriptionInput" name="description">
        </div>
        <input type="submit" name="search_listing" value="search_listing">
      </form>
    </div>

      <table>
          <tr>
              <th>ID</th>
              <th>Description</th>
              <th>Zipcode</th>
              <th>Num_Guests</th>
              <th>Price</th>
              <th>Landlord</th>
              <th>Safety Rating</th>
              <th>Operation</th>
          </tr>
          {% for apartment in results %}
              <tr>
                  <td>{{ apartment[0] }}</td>
                  <td>{{ apartment[1] }}</td>
                  <td>{{ apartment[2] }}</td>
                  <td>{{ apartment[3] }}</td>
                  <td>{{ apartment[4] }}</td>
                  <td>{{ apartment[5] }}</td>
                  <td>{{ apartment[6] }}</td>
                  <td><a href="{{ url_for("update_apartment", apartment_id=apartment[0]) }}">Edit</a>/
                      <a href="{{ url_for("delete_apartment", apartment_id=apartment[0]) }}">Delete</a></td>
              </tr>
          {% endfor %}
      </table>


</div>
</div>
</div>

</body>
</html>
