<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <!-- navbar -->
      <div class="container " style="z-index:9999">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="border-bottom:2px solid white;background-color:#e66a6f">
          <a class="navbar-brand" href="/" style="color:white"><h3>Home</h3></a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="user_search.html" style="color:white">User Side</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
                  Admin Side
                </a>
                <!--  style="background:#f3b1b2" -->
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="admin_search.html" style="color: #545454">AirBNB Listings</a>
                  <a class="dropdown-item" href="admin_mongo.html" style="color: #545454">Crime Info</a>
                  <a class="dropdown-item" href="cafe.html" style="color: #545454">Cafe Info</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>

        <br/><br/>

        <!-- intro -->
        <div class="container">
          <h1>AirBNB and Safety in Chicago</h1>
          <p class="lead">Our project will allow users to search for AirBNBs in the Chicagoland area
            and see their relative safety rating. The safety rating is calculated by looking at recent crime incidents in Chicago
            that have occurred recently. Users can also find cafes near their AirBNB. </p>
          <p class="lead">
            <a href="user_search.html" class="btn btn-lg btn-default" style="font-weight: bold">User Side</a>
            <a href="admin_search.html" class="btn btn-lg btn-default" style="font-weight: bold">Admin Side</a>
          </p>
        </div>

      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
