<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta charset="UTF-8">
  <title>Admin Search</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="container">
        <!-- navbar -->
        <div class="masthead clearfix">
          <div class="container inner">
            <h3 class="masthead-brand">Home</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="user_search.html">User Side</a></li>
                <li><a href="admin_search.html">Admin Side</a></li>
              </ul>
            </nav>
          </div>
        </div>
    <div class="container">
      <form method="POST" action="">
        <div class="form-group">
          <label for="IDInput">ID</label>
          <input type="text" type="form-control" id="IDInput" name="ID" value="{{ apartment.ID }}">
        </div>
        <div class="form-group">
          <label for="descriptionInput">Description</label>
          <input type="text" type="form-control" id="descriptionInput" name="description" value="{{ apartment.Description }}">
        </div>
        <div class="form-group">
          <label for="zipcodeInput">Zipcode</label>
          <input type="int" type="form-control" id="zipcodeInput" name="zipcode" value="{{ apartment.Zipcode }}">
        </div>
        <div class="form-group">
          <label for="numGuestsInput">Number of Guests</label>
          <input type="int" type="form-control" id="numGuestsInput" name="guest" value="{{ apartment.NumGuests }}">
        </div>
        <div class="form-group">
          <label for="priceInput">Price</label>
          <input type="int" type="form-control" id="priceInput" name="price" value="{{ apartment.Price }}">
        </div>
        <div class="form-group">
          <label for="landlordInput">Landlord</label>
          <input type="text" type="form-control" id="landlordInput" name="landlord" value="{{ apartment.Landlord }}">
        </div>
        <div class="form-group">
          <label for="safetyInput">Safety Rating</label>
          <input type="int" type="form-control" id="safetyInput" name="safety" value="{{ apartment.SafetyRating }}">
        </div>
        <input type="submit">
      </form>
  </div>

</div>
</div>
</div>

</body>
</html>
