<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta charset="UTF-8">
  <title>Admin Search</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="container">
        <!-- navbar -->
        <div class="masthead clearfix">
          <div class="container inner">
            <h3 class="masthead-brand">Home</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="user_search.html">User Side</a></li>
                <li><a href="../">Admin Side</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="container w-50 p-3">
          <h4> Update Listing </h4>
          <br/>
          <form class="form-horizontal" method="POST" action="">
            <div class="form-group row">
              <label for="IDInput" class="col-sm-4 control-label">ID</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="IDInput" name="ID" value="{{ apartment[0] }}">
              </div>
            </div>
            <div class="form-group row">
              <label for="descriptionInput" class="col-sm-4 control-label">Description</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="descriptionInput" name="description" value="{{ apartment[1] }}">
                <!-- <textarea class="form-control" rows="3" placeholder="Description"></textarea> -->
              </div>
            </div>
           <!-- <div class="form-group row">
             <label for="zipcodeInput" class="col-sm-4 control-label">Zipcode</label>
             <div class="col-sm-8">
               <input type="int" class="form-control" id="zipcodeInput" name="zipcode" value="{{ apartment[2] }}">
             </div>
           </div> -->
           <div class="form-group row">
             <label for="latitudeInput" class="col-sm-4 control-label">Latitude</label>
             <div class="col-sm-8">
               <input type="int" class="form-control" id="latitudeInput" name="latitude" value="{{ apartment[2] }}">
             </div>
           </div>
           <div class="form-group row">
             <label for="longitudeInput" class="col-sm-4 control-label">Longitude</label>
             <div class="col-sm-8">
               <input type="int" class="form-control" id="longitudeInput" name="longitude" value="{{ apartment[3] }}">
             </div>
           </div>
           <div class="form-group row">
             <label for="numGuestsInput" class="col-sm-4 control-label">Number of Guests</label>
             <div class="col-sm-8">
               <input type="int" class="form-control" id="numGuestsInput" name="guest" value="{{ apartment[4] }}">
             </div>
           </div>
           <div class="form-group row">
             <label for="priceInput" class="col-sm-4 control-label">Price</label>
             <div class="col-sm-8">
               <input type="int" class="form-control" name="price" value="{{ apartment[5] }}"/>
             </div>
           </div>
           <div class="form-group row">
             <label for="landlordInput" class="col-sm-4 control-label">Landlord</label>
             <div class="col-sm-8">
               <input type="text" class="form-control" id="landlordInput" name="landlord" value="{{ apartment[6] }}">
             </div>
           </div>
           <div class="form-group row">
             <label for="safetyInput" class="col-sm-4 control-label">Safety Rating</label>
             <div class="col-sm-8">
               <input type="int" class="form-control" id="safetyInput" name="safety" value="{{ apartment[7] }}">
             </div>
           </div>
<!-- <input type="submit" name="search_listing" value="search_listing"> -->
           <input type="submit" class="btn btn-primary" name="update_listing" value="Update Listing"/>
         </form>
        </div>
      </div>

</div>
</div>
</div>

</body>
</html>
