<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta charset="UTF-8">
  <title>User Search</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="site-wrapper">

   <div class="site-wrapper-inner">
  <!-- navbar -->
  <div class="container">
    <div class="masthead">
      <div class="container inner">
        <h3 class="masthead-brand">Home</h3>
        <nav>
          <ul class="nav masthead-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="user_search.html">User Side</a></li>
            <li><a href="admin_search.html">Admin Side</a></li>
          </ul>
        </nav>
      </div>
    </div>
   </div>

   <br/><br/><br/><br/><br/><br/>

   <div class="row no-gutter">
   <!-- search for listings -->
     <div class="container w-50 p-3">
       <h4> Search For Listings </h4>
       <br/>
       <form class="form-horizontal" method="POST" action="">
        <div class="form-group row">
          <label for="zipcodeInput" class="col-sm-4 control-label">Zipcode</label>
          <div class="col-sm-8">
            <input type="int" class="form-control" id="zipcodeInput" placeholder="Zipcode" name="zipcode">
          </div>
        </div>
        <div class="form-group row">
          <label for="numGuestsInput" class="col-sm-4 control-label">Number of Guests</label>
          <div class="col-sm-8">
            <input type="int" class="form-control" id="numGuestsInput" placeholder="Number of Guests" name="guest">
          </div>
        </div>
        <div class="form-group row">
          <label for="priceInput" class="col-sm-4 control-label">Price</label>
          <div class="col">
            <input type="int" class="form-control" id="priceInput" placeholder="Lower price" name="lowerprice">
          </div>
          <label> to </label>
          <div class="col">
            <input type="int" class="form-control" id="priceInput" placeholder="Upper price" name="upperprice">
          </div>
        </div>
        <div class="form-group row">
          <label for="safetyInput" class="col-sm-4 control-label">Safety Rating from</label>
          <div class="col-sm-8">
            <input type="int" class="form-control" id="safetyInput" placeholder="Safety Rating" name="rating">
          </div>
        </div>
        <br/>
        <!-- <input type="submit" name="search_listing" value="search_listing"> -->
        <input type="submit" class="btn btn-primary" name="search_listing" value="Search For Listings"/>
      </form>
     </div>
   </div>

   <div class="container">
     <table>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Zipcode</th>
        <th>Num_Guests</th>
        <th>Price</th>
        <th>Landlord</th>
        <th>Safety Rating</th>
      </tr>
        {% for apartment in results %}
            <tr>
                <td>{{ apartment[0] }}</td>
                <td>{{ apartment[1] }}</td>
                <td>{{ apartment[2] }}</td>
                <td>{{ apartment[3] }}</td>
                <td>{{ apartment[4] }}</td>
                <td>{{ apartment[5] }}</td>
                <td>{{ apartment[6] }}</td>
            </tr>
        {% endfor %}
      </table>
   </div>

   <br/><br/><br/><br/>


  </div>
</div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
