<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta charset="UTF-8">
  <title>User Search</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="site-wrapper">

   <div class="site-wrapper-inner">
  <!-- navbar -->
  <div class="container">

    <div class="masthead clearfix">
      <div class="container inner">
        <h3 class="masthead-brand">Home</h3>
        <nav>
          <ul class="nav masthead-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="user_search.html">User Side</a></li>
            <li><a href="admin_search.html">Admin Side</a></li>
          </ul>
        </nav>
      </div>
    </div>
   </div>
    <div class="container">
      <form method="POST" action="">
        Zipcode <input type="text" name="zipcode" />
        <br>
        Guest <input type="text" name="guest" />
        <br>
        Price from <input type="text" name="lowerprice" /> to <input type="text" name="upperprice" />
        <br>
        Safety Rating <input type="text" name="safety" />
        <br>
        <input type="submit">
      </form>
    </div>
    <div class="result">
           <table>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Zipcode</th>
                    <th>Num_Guests</th>
                    <th>Price</th>
                    <th>Landlord</th>
                    <th>Safety Rating</th>
                </tr>
                    {% for apartment in results %}
                        <tr>
                            <td>{{ apartment.ID }}</td>
                            <td>{{ apartment.Description }}</td>
                            <td>{{ apartment.Zipcode }}</td>
                            <td>{{ apartment.NumGuests }}</td>
                            <td>{{ apartment.Price }}</td>
                            <td>{{ apartment.Landlord }}</td>
                            <td>{{ apartment.SafetyRating }}</td>
                        </tr>
                    {% endfor %}
            </table>
    </div>

  </div>
</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
